# Extracting data from relational databases

### given one example:

### SQLite Database

#### import package

In [1]:
# import sqlite3 package
import sqlite3

In [2]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### create table

In [3]:
# open connection 
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query 
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection 
connection.close()

OperationalError: table classroom already exists

#### insert data

In [ ]:
# sample data
classroom_data = [( 1, "Ron", "M", 70,84,92),
                  ( 2, "Pony", "F", 87,69,93),
                  ( 3, "Aviv", "M", 65,83,90),
                  ( 4, "Daniel", "F", 83,80,99)]
# open connection 
connection = sqlite3.connect("classroomDB.db")
# open cursor 
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string 
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                       Values
                       ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                    student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [5]:
# open connection 
connection = sqlite3.connect("classroomDB.db")
# open cursor 
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print (row)
# close connection 
connection.close()

(1, 'Ron', 'M', 70, 84, 92)
(2, 'Pony', 'F', 87, 69, 93)
(3, 'Aviv', 'M', 65, 83, 90)
(4, 'Daniel', 'F', 83, 80, 99)